@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card bg-white">

                    <div class="card-header">

                        <div class="card-title">

                            <div class="row">
                                <h4 class="ml-5"><strong>Chat</strong></h4>
                            </div>

                            <div class="row">

                                <div class="col-2">
                                    <img src="~/img/takeBlip.jpg" width="100" height="100" />
                                </div>

                                <div class="col-10 mt-4">

                                    <div class="row">

                                        <div class="col-10">
                                            <input type="text" class="form-control ml-3" placeholder="Digite seu Nome" id="userName" />
                                        </div>

                                        <div class="col-2">
                                            <button type="button" class="btn btn-primary" onclick="openChat()">
                                                Entrar
                                            </button>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="card-body">
                        <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">
                        </div>
                    </div>

                    <div class="card-footer bg-white">
                        <div class="publisher">
                            <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                            <input class="publisher-input form-control" type="text" placeholder="Digite sua Mensagem" id="MessageField">
                            <button type="button" onclick="sendMessage()" class="btn btn-success text-light m-2" id="sendMessage">
                                Enviar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let userName = '';
        let socket = null;
        let btnSend = $("#sendMessage");

        window.onload = function () {
            var wsUri = "ws://localhost:54068/public";
            socket = new WebSocket(wsUri);
            socket.onopen = e => {
                console.log("socket opened", e);
            };
            socket.onclose = function (e) {
                console.log("socket closed", e);
            };
            socket.onmessage = function (e) {
                console.log(e);
                $('#chat-content').append(createMessage(e.data));
            };
            socket.onerror = function (e) {
                console.error(e.data);
            };
        }

        function openChat() {
            userName = $('#userName').val();
            $('#userName').text('');
            $('#userName').val(null);
        }

        function sendMessage() {
            var message = userName + ": " + $('#MessageField').val();
            socket.send(message);
            $('#MessageField').val('');
        }

        function createMessage(message) {
            return `<div class="media media-chat">
                                                                        <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                                                                        <div class="media-body">
                                                                            <p>${message}</p>
                                                                        </div>
                                                                    </div>`;
        }

        function createReverseMessage(message) {
            return `<div class="media media-chat media-chat-reverse">
                                                                        <div class="media-body">
                                                                            <p>${message}</p>
                                                                        </div>
                                                                    </div>`;
        }
    </script>
}